.App {
    text-align: center;
}

.App-logo {
    animation: App-logo-spin infinite 20s linear;
    height: 80px;
}

.App-header {
    background-color: #222;
    height: 150px;
    padding: 20px;
    color: white;
}

.App-title {
    font-size: 1.5em;
}

.App-intro {
    font-size: large;
}

@keyframes App-logo-spin {
    from {
        transform: rotate(0deg);
    }
    to {
        transform: rotate(360deg);
    }
}

.content-body {
    width: 600px;
    /*height: 100%;*/
    margin: 0 auto;
}

@media screen and (max-width: 600px) {
    .content-body {
        width: 100%;
    }
}

.screen-button {
    width: calc(30% - 4px);
    margin: 2px;
}

.screen-screen {
    width: calc(40% - 4px);
    margin: 2px;
}